#iconGroup {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#iconGroup a {
    margin: 0 0.6rem;
}

#alternativeReg {
    text-align: center;
    padding-top: 2rem;
    margin-top: 1.5rem;
}


.container {
    /* background: linear-gradient(135deg, #11222c, #f3cf06); */
    background: linear-gradient(0deg, #f3cf0667, #11222c);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: #fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 35px;
}

.title {
    color: #256ce1;
    text-align: center;
    margin: 20px 0px 60px 0px;
    font-family: 'open sans', sans-serif;
    font-size: 1.8rem;
}

.firstName,
.lastName,
.email,
.password,
.confirmPassword {
    margin: 25px;
    color: #969292;
    font-size: 16px;
}

.input {
    height: 32px;
    font-size: 16px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-bottom-style: 2px solid black;
    border-right-style: none;
    border-left-style: none;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 20px;
    font-size: 13px;
}

.submit {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    background: linear-gradient(to right, #201dcf, #099aee);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22);
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

.submit:hover {
    opacity: 0.8;
}

button:active {
    transform: translateY(2px);
}

.form-success {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #256ce1;
}