.heading {
    margin: 0;
    padding: 20px;
    background-color: #11222c;
    color: white;
    text-align: center;

}

.rhap_container svg {
    color: #11222c
}


#rhap_current-time {
    color: #11222c
}

.rhap_volume-indicator,
.rhap_progress-indicator {
    background: #11222c !important;
}